<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../src/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 单选
        <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select> -->
        <!-- 多个 -->
        <select v-model="selected" multiple>
        <option  value="A">A</option>
        <option  value="B">B</option>
        <option  value="C">C</option>
        </select>

        <span>Selected: {{ selected }}</span>
    </div>
    <script>
        new Vue({
            el: '#app',
            // selected: '',
            selected: [],

        });
    </script>
</body>

</html>