<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body,
        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        .list-body li:nth-child(even) {
            background: yellow;
        }
        
        .list-body li:nth-child(odd) {
            background: #fff;
        }
        
        .list-body li:hover {
            background: green;
        }
        
        .list-body li.checkedColor {
            background: green;
        }
    </style>
    <link rel="stylesheet" href="./css/baidu.css">
    <script src="../src/vue.js"></script>
    <script>
        let data = [{
            id: Date.now() + Math.random(),
            name: '邓紫棋',
            song: '泡沫',
            checked: false,
            album: 10
        }, {
            id: Date.now() + Math.random(),
            name: '王杰',
            song: '泡沫',
            checked: false,
            album: 10
        }, {
            id: Date.now() + Math.random(),
            name: '紫棋',
            song: '沫',
            checked: false,
            album: 10
        }]
    </script>
</head>

<body>
    <div class="wrap" id="app">
        <div class="baidu">
            <ul class="list list-head">
                <li>
                    <div>
                        <input type="checkbox" v-model="isALLChecked" />全选
                    </div>
                    <span>歌单</span>
                    <span>歌手</span>
                    <span>专辑</span>
                </li>
            </ul>
            <ul class="list list-body">
                <li v-for="item in songList">
                    <div>
                        <input v-model="item.checked" type="checkbox">
                    </div>
                    <span>{{item.song}}</span>
                    <span>{{item.name}}</span>
                    <span>{{item.album}}</span>
                </li>
            </ul>
            <div class="select">
                <span class="selectAll">

						<span>统计：</span>
                </span>
                <div class="others">
                    <span><em></em>选中的歌手有：{{ selectedSongerLen}}位</span>
                    <span><em></em>专辑有{{sumAlbumlen}}张</span>
                </div>
            </div>
        </div>
        {{ isALLChecked}}
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                songList: data,
            },
            computed: {
                isALLChecked() {
                    let b = this.songList.every(item => item.checked);
                    console.log(b)
                    return b;
                },
                selectedSongerLen() {
                    return this.songList.filter(item => item.checked).length
                },
                sumAlbumlen() {
                    return this.songList.filter(item => item.checked).reduce((n, item2) => n + item2.album, 0)
                },

            }
        })
    </script>
</body>

</html>